<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    <title>Modelo Base</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    {% block menu %}
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">Início</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar-campos' %}">Campos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar-atividades' %}">Atividades</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                  </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                             {{ request.user }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Alterar senha</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Sair</a>
                        </li>
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'login' %}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Entrar</a>
                        </li>
                        {% endif %}
                      </ul>
                </div>
              </div>
            </div>
        </nav>
    </div>
    {% endblock %}

    {% block destaque %}
    <div class="bg-secondary">
        Figuras de destaque
    </div>
    {% endblock %}

    <div class="container">
    {% block conteudo %}    
        <h3>Layout Base</h3>
        <div>
            <i class="fa fa-car"></i>
            <i class="fa fa-car" style="font-size:48px;"></i>
            <i class="fa fa-car" style="font-size:60px;color:red;"></i>
        </div>
    {% endblock %}
    </div>

    {% block rodape %}
    <div class="footer bg-light">
        Rodapé
    </div>
    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>