{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h3>{{ titulo }}</h3>

<p class="lead">
    Preencha todos os campos obrigatórios.
</p>

<hr>

<form action="" method="POST">

    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-light mt-3">
        {% autoescape off %}
        {{ icone }}
        {% endautoescape %}
        {{ botao }}
    </button>

</form>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    function formatDate(inputDate) {
        if (!inputDate || inputDate.trim() === "") {
            return ""; // Retorna uma string vazia se inputDate for vazio ou nulo
        }
    
        const parts = inputDate.split("/");
    
        if (parts.length !== 3) {
            return ""; // Retorna uma string vazia se a entrada não estiver no formato esperado
        }
    
        const formattedDate = `${parts[2]}-${parts[1]}-${parts[0]}`;
    
        return formattedDate;
    }

    $(document).ready(function(){

        const data_inicial = document.querySelector('#id_data_inicial');
        if (data_inicial && data_inicial.type === 'text') {
            const current_value = formatDate(data_inicial.value);
            data_inicial.type = 'date';
            data_inicial.value = current_value;
        }
        const data_final = document.querySelector('#id_data_final');
        if (data_final && data_final.type === 'text') {
            const current_value = formatDate(data_final.value);
            data_final.type = 'date';
            data_final.value = current_value;
        }

        $("#id_cpf").mask("000.000.000-00");
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);


    });
</script>
{% endblock %}